name: build

on:
  push:
    branches:
      - develop
      - master
  pull_request:
    branches:
      - develop
      - master

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        java: [19]
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
    runs-on: ${{ matrix.os }}
    name: Build on ${{ matrix.os }} on Java ${{ matrix.java }}
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/actions/wrapper-validation@v3
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3
      - name: Build with Gradle
        run: |
          ./gradlew --no-daemon -s :build
      - name: Upload coverage to Codecov
        if: ${{ matrix.java == '19' && matrix.os == 'ubuntu-latest' }}
        uses: codecov/codecov-action@v4.3.0
      - name: Save reports
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: reports-${{ matrix.os }}-${{ matrix.java }}
          path: build/reports/
