name: build

on:
  push:
    branches:
      - develop
      - master
  pull_request:
    branches:
      - develop
      - master

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        # lts/latest version
        java: [25]
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        include:
        # min version
        - java: 23
          os: ubuntu-latest
    runs-on: ${{ matrix.os }}
    name: Build on ${{ matrix.os }} on Java ${{ matrix.java }}
    steps:
      - uses: actions/checkout@v6
      - uses: gradle/actions/wrapper-validation@v5
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          distribution: oracle
          java-version: ${{ matrix.java }}
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build with Gradle
        run: |
          ./gradlew --no-daemon -s :build
      - name: Upload coverage to Codecov
        if: ${{ matrix.java == '23' && matrix.os == 'ubuntu-latest' }}
        uses: codecov/codecov-action@v5.5.1
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      - name: Save reports
        uses: actions/upload-artifact@v6
        if: ${{ failure() }}
        with:
          name: reports-${{ matrix.os }}-${{ matrix.java }}
          path: build/reports/
