name: release

on:
  push:
    tags:
    - 'v*'

jobs:
  release:
    permissions: write-all
    runs-on: ubuntu-latest
    name: Release
    steps:
      - uses: actions/checkout@v6
      - uses: gradle/actions/wrapper-validation@v5
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: oracle
          java-version: 25
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Get the tag
        id: get_tag
        run: echo tag=$(echo ${{ github.ref }} | cut -d / -f 3) >> $GITHUB_OUTPUT
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GHA_PR_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ steps.get_tag.outputs.tag }}
          draft: true
          prerelease: false
      - name: Publish to maven central
        env:
          ORG_GRADLE_PROJECT_signingKeyId: ${{ secrets.PGP_KEY_ID }}
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.PGP_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.PGP_PASSWORD }}
          ORG_GRADLE_PROJECT_ossrhUsername: ${{ secrets.OSSRH_USERNAME }}
          ORG_GRADLE_PROJECT_ossrhPassword: ${{ secrets.OSSRH_PASSWORD }}
        run: |
          ./gradlew --no-daemon -s publishOnnxruntimePublicationToSonatypeRepository closeSonatypeStagingRepository