name: Security

on:
  workflow_dispatch:
  schedule:
    - cron:  '27 23 * * 1'

jobs:
  security:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      actions: read
      security-events: write
    steps:
      - uses: actions/checkout@v3
      - uses: gradle/wrapper-validation-action@v1
      - name: Use JDK 19
        uses: actions/setup-java@v3.6.0
        with:
          distribution: 'temurin'
          java-version: 19
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: java
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          cache-read-only: true
      - name: Run snapshot action
        uses: mikepenz/gradle-dependency-submission@v0.9.0
        with:
          gradle-build-configuration: compileClasspath
      - name: Build with Gradle
        run: |
          ./gradlew --no-daemon --no-build-cache -s :build
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2
        with:
          category: "/language:java"